<nav>
  <img src="logo.jpg" class="menu-item" alt="application logo">   
  <div class="menu-item">
    <a href="#" class="item" for="email">Share Spaces</a>
    <a href="#" class="item" for="password">Rent Spaces</a>
    <a href="#" class="item btn-primary btn-sm sign-up-button" data-toggle="modal">Sign Up</a>
    <a href="#" class="item btn-primary btn-sm log-in-button">Log In</a>
  </div>
</nav>