<div class="searching-main-container">
  <div class="search-results">    
    <% @search_results.each do |result| %>
      <h4 class="result"><%= (result[:people]).count %></h4>
      <h4 class="result"><%= result[:people] %></h4>
      <h4 class="result"><%= result[:percentage] %></h4>
    <% end %> 
  </div>
  <div class="map-search">
    <div id="map"></div>
  </div>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "searching-index.js" %>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv7a1XrJSqleGAzjwBh5OBLIzJ7co0L_0"
  type="text/javascript"></script>
