<footer>
  <div class="row">
    <div class="col-sm-4">
      <a href="#">Terms of use</a>
    </div>
    <div class="col-sm-4">
      <a href="#">Contact Us</a>
    </div>
    <div class="col-sm-4">
      <a href="#">Help</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a href="#">Privacy Policy</a>
    </div>
    <div class="col-sm-4">
      <a href="#">About Us</a>
    </div>
    <div class="col-sm-4">
      <a href="#">FAQs</a>
    </div>
  </div>
  <div class="row social">
    <p>Follow us on: </p>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </div>
  <div class="row">
    <i class="fa fa-registered" aria-hidden="true"> Mi casa Solutions</i>
  </div>
</footer>