<nav class="navbar navbar-fixed-top">
  <div class="container">
    
    <img src="dividup_logo.png" class="normal-img" alt="application logo">
    <a href="#" class="item-out">Share Spaces</a>
    <a href="#" class="item-out">Rent Spaces</a>
    <a href="#" class="item-out btn-primary btn-sm sign-up-button" data-toggle="modal">Sign Up</a>
    <a href="#" class="item-out btn-primary btn-sm log-in-button">Log In</a>
  </div>
</nav>