<div class="main-container">
  <img src="landing.jpg" alt="landing" class="landing-img">
  <div class="how-it-works">
    <div class="how-section">
      <h1>How it works</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="sing-up col col-sm-4 col-sm-offset-8">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            <div class="share-spaces-text">
              <a href="#" class="sign-up-button">
                <h3>Sign Up</h3>
              </a>
              <h5>It's quick and easy - take less than 5 minutes to sign up.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="how-section">
      <h1>Search and Share Spaces</h1>
      <div class="container-fluid">
        <div class="row center-block">
          <div class="col col-sm-4">
            <i class="fa fa-search" aria-hidden="true"></i>
            <div class="share-spaces-text">
              <h3>Define your search</h3>
              <h5>Create and save space search queries. It is very simple! You just need to provide the location and the desired availability for each day of the week that you are expecting in order to rent a space!</h5>
            </div>
          </div>
          <div class="col col-sm-4">
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class="share-spaces-text">
              <h3>Connect With People</h3>
              <h5>DivideApp will process you search with many other users looking for the same space to rent. It will provide you different cimbinations so you can chat with other users and divide your renting charges!</h5>
            </div>
          </div>
          <div class="col col-sm-4">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <div class="share-spaces-text">
              <h3>Reduce Renting Cost!</h3>
              <h5>Create and save space search queries. It is very simple! You just need to provide the location and the desired availability for each day of the week that you are expecting in order to rent a space!</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="how-section rent-spaces">
      <h1>Rent Spaces!</h1>
      <div class="row">
        <div class="col col-sm-4">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <div class="share-spaces-text">
            <h3>Publish a Space</h3>
            <h5>Create a new Space to rent in DividApp. Define all the details and the location of the space that you want to let! Uploading some nice pictures will give you more visits ;)</h5>
          </div>
        </div>
        <div class="col col-sm-4">
          <i class="fa fa-search" aria-hidden="true"></i>
          <div class="share-spaces-text">
            <h3>Define Availability</h3>
            <h5>Define if you want to rent this space Full time or you are currently using it and just want to rent it during some weekly free time slots!</h5>
          </div>
        </div>
        <div class="col col-sm-4">
          <i class="fa fa-usd" aria-hidden="true"></i>
          <div class="share-spaces-text">
            <h3>Earn Money!</h3>
            <h5>DividApp will connect your space with people looking for some place with your characteristics and availability. This way you will be able to ear some money renting your space on the free time slots!</h5>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<%= render "register-modal" %>

<%= render "login-modal" %>
