<div class="main-container">
  <img src="landing.jpg" alt="landing" class="landing-img">
  <div class="how-it-works">
    <h2>How it works</h2>
    <div class="share-spaces">
      <h3>Search and Share Spaces</h3>
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <h3>Sign In</h3>
          <h5>It's quick and easy - take less than 5 minutes to sign up.</h5>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-search" aria-hidden="true"></i>
          <h3>Define your search</h3>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users" aria-hidden="true"></i>
          <h3>Connect</h3>
        </div>
      </div>
    </div>
    <div class="rent-spaces">
      
    </div>
  </div>
</div>

<%= render "register-modal" %>

<%= render "login-modal" %>
