<div class="main-container">
  <img src="landing.jpg" alt="landing" class="landing-img">
  <div class="how-it-works">
    <h1>How it works</h1>
    <div class="share-spaces">
      <h1>Search and Share Spaces</h1>
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <div class="share-spaces-text">
            <h2>Sign In</h2>
            <h4>It's quick and easy - take less than 5 minutes to sign up.</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-search" aria-hidden="true"></i>
          <div class="share-spaces-text">
            <h2>Define your search</h2>
            <h4>Create and save space search queries. It is very simple! You just need to provide the location and the desired availability for each day of the week that you are expecting in order to rent a space!</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users" aria-hidden="true"></i>
          <div class="share-spaces-text">
            <h2>Connect With People</h2>
            <h4>DivideApp will process you search with many other users looking for the same space to rent. It will provide you different cimbinations so you can chat with other users and divide your renting charges!</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="rent-spaces">
      
    </div>
  </div>
</div>

<%= render "register-modal" %>

<%= render "login-modal" %>
