<body>
	<div class="main-container-profile">
		<form action="/search" class="subcontainer" method="POST">
			<div class ="search-bar">
				<div class="search-section location">	
					<label for="location">Where</label>
					<input type="text" name="location" id="location" placeholder="City, Postal Code, Address">
				</div>
				<div class="search-time">
					<div class="search-section">
						<label for="from_time">From</label>
						<input type="time" name="from_time" id="from_time" required>
					</div>
					<div class="search-section">
						<label for="to_time">To</label>
						<input type="time" name="to_time" id="to_time" required>
					</div>
				</div>
			</div>
			<button type="submit" class="search-button btn-primary btn-sm">Search</button>
		</form>
	</div>
</body>
