$back-color: #6fcc66;
$color: #69c;

.main-container{
    width: 100%;
    .landing-img {
        width: 100%;
    }
    .how-it-works{
        width: 100%;
        .share-spaces{
            .row{
                width: 100%;
            }
        }
    }
}