$back-color: #6fcc66;
$color: #69c;

header{
  top: 0;
  nav{
    right: 0;
    left: 0;
    z-index: 1030;
    position: fixed;
  	width: 100%;
  	border: 1px solid $color;
    display: inline-flex;
  	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    .container{
      img {
        margin: 6px;
        width: 200px; 
        height: 100px;
      }
    }
    .item-out{
      margin: 10px;
    }
  }
}