$back-color: #6fcc66;
$color: #69c;

.main-container{
    width: 100%;

    .top-subcontainer{
        height: 100%;
        ul {
            padding: 0;
            list-style-type: none;
            .landing-img {
                width: 100%;
            }
            .inactive{
                display: none;
            }
        }
        .search-area{
            margin: 10%;
            position: absolute;
            top: 140px;
            .search-form{
                .spot-search-box{
                    width: 250px;
                }
            }
        }
    }
    
    .how-it-works{
        .how-section{
            padding: 35px;
            width: 100%;
            text-align:center;
            .row{
                margin: auto;
                padding-top: 50px;
                width: 100%; 
                .col{
                    i{
                        color: $color;
                        font-size: 68px;
                    }
                    .fa-sign-in{
                        font-size: 38px;
                    }
                    .share-spaces-text{
                        margin-top: 20px;
                    }
                }
                .sing-up{
                    float: none;
                    margin: 0 auto;
                }
            }
            .sing-up-row{
               padding: 5px; 
            }
        }
        .search-and-share-section {
            padding-top: 0px;
        }
        .sing-up-section {
            padding-bottom: 0px;
        }
    }
}