.searching-main-container {
  margin-top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  position: fixed;
  .search-results{
    overflow-y: scroll;
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: 60%;
  }
  .map-search{
    vertical-align: top;
    height: 100%;
    width: 40%;
    position: relative;
    #map{
      width: 100%;
      top: 0;
      bottom: 0;
      position: absolute;
      height: 400px;
    }
  }
  
}